# This is a list of dependencies required for a Robot Framework project

# The robotframework-seleniumlibrary is used for browser automation
robotframework-seleniumlibrary

# The robotframework-requests library is used for sending HTTP requests and handling responses
robotframework-requests

# The robotframework-faker library is used for generating fake data to use in tests
robotframework-faker

# The eyes-robotframework library is used for visual testing and cross-browser validation
eyes-robotframework
